<% include header %>

      <h1 id="titleGroot"><%- post.title %></h1>
      <div id="content">

      <h5 id="date"><%- post.date %></h5>
      <p id="post"><%- post.full %></p>
      <h6 id="tags"><%- post.tags %></h6>
      <h6 id="name">Written by <%- post.name %></h6>

      <a href="/" id="terugNaarHome">Terug naar homepage</a>
  </div>

<% include footer %>
